

.chartsBox {
  min-width: 900px;
  max-height: 700px;
  padding: 10px;
  font-size: 0.8em;
}

.smallmultiplesView {
  min-width: 35%;
  max-height: 680px;
  /* display: inline-block; */
  overflow-y: auto;
}
.scatterplotView {
  min-width: 65%;
  height: inherit;
  float: left;
  /* display: inline-block; */
}
